/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignora todos los archivos en la carpeta
departamentos/*

# Pero no ignores este archivo
!departamentos/departamento_pred.jpeg

residentes/*

# Pero no ignores este archivo
!residentes/residente_default.png
# Ignora todos