/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignora todos los archivos en la carpeta
/public/departamento/images/departamentos/*

# Pero no ignores este archivo
!/public/departamento/images/departamentos/departamento_pred.jpeg


/public/departamento/images/residentes/*

# Pero no ignores este archivo
!/public/departamento/images/residentes/residente_residente_default.png
# Ignora todos

/public/departamento/images/edificios/*

/public/departamento/images/edificios/edificio_default.jpg 
