.calendar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calendar-content {
  width: 100%;
  height: 500px;
}




.calendar-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.calendar-action-link {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.register-reservation {
  background-color: rgb(48, 160, 225);
}

.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
