.content__regisInsu {
  display: flex;
  flex-direction: column;
  /* border: solid 2px #233044; */
  border-radius: 11px;
  padding: 2em;
  gap: 0em;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.block {
  width: 143px;
  height: 39px;
  background-color: #2A98CC;
  color: white;
  font-size: 18px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: #16658A;
  }
}

.align-right-inputss{
  margin: auto 0px;  
  text-align: right;
}
.margin-x-auto{
  margin: 0 auto;  
}

.m_personalizado{
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 0px;
  margin-right: 13.5px;
}

.aumentar__fontsize{
  font-size: x-large;
}

