#content {
  display: flex;
  flex-direction: column;
  /* border: solid 2px #233044; */
  border-radius: 11px;
  padding: 2em;
  gap: 2em;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}


.d-flex{
  display: flex;
}
.j-center{
  justify-content: center;
}
.a-center{
  align-items: center;
}
button {
  width: 143px;
  height: 39px;
  background-color: #233044;
  color: white;
  font-size: 18px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: #233044b6;
  }
}

.c-dark-blue{
  color: #233044;
}
.d-column{
  flex-direction: column;
}


/*Estilo de button*/
.actions-container {
  display: flex;
  justify-content: space-between; 
  width: 60px; 
}

.actions-container button {
  padding: 6px; 
}


/* Quita color de fondo y borde*/

.actions-container button {
  background-color: transparent; 
  border: none; 
  padding: 0; 
}
