.content__insu {
    display: flex;
    flex-direction: column;
    /* border: solid 2px #233044; */
    border-radius: 11px;
    padding: 2em;
    gap: 2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .button__insu {
    display: flex;
    justify-content: flex-end;
    background-color: #1976A2;
    max-width: 150px;
    border-radius: 7px;
    width: 100%;
    
  }
  .button__insu:hover{
    background-color:#2E82AA ;
  }

  .ajustar__insu {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }

  .block__texto{
    text-align: center;
    padding-top: 7px;
  }
  
.button_delete{
  color: #ffffff;
  background-color: #DC3545;
  width: 80px;
  padding: 2px 15px;
}

.button_edit{
  color: #ffffff;
  background-color: #72BDAD;
  width: 80px;
  padding: 2px 15px;
}

.tamIcon1{
  font-size: 30px;
  
}