.card-common-area {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(227, 205, 124);
}
