.custom-button {
	background-color: rgb(25, 118, 162);
	border-color: rgb(25, 118, 162);
}
.custom-button:hover {
	background-color: rgb(22, 101, 138);
	border-color: rgb(22, 101, 138);
}
.custom-form {
	background-color: #FFFEF6;
	border: none;
	border-radius: 12px;
	padding: 40px;
	box-shadow: 2px 2px 5px rgba(73, 73, 73, 0.3);
	min-width: 800px;
	min-height: 700px;
}
.custom-font{
	font-family: 'Lato', sans-serif;
}

.label-custom{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
}